body {
    display: flex;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main */

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

p {
    letter-spacing: 5px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 48px;
}

.links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    background-color: black;
    color: white;
    width: auto;
    justify-content: center;
    margin-top: 40px;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: white;
    letter-spacing: 2px;
}

/* Lasagna */

.instructions {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.lasagna-header {
    display: flex;
    background-color: black;
    color: white;
}

.ingredients {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.directions {
    display: flex;
    width: 400px;
    flex-direction: column;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}